body{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 940px;
    padding-right: 940px;
}

h1{
    color: #3d3d3d;
    background-color: #e1edf2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
h2{
    border-bottom: 2px solid #0a0a0a;
}
figure{
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding-top: 15px;
    border-right-width: 10;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 30px;

}

figcaption{
    padding-top: 10px;
}